<<<<<<< HEAD
<h1>Products</h1>

<ul>
  <% @item.each do |items| %>
  <p>
    <%= link_to items.product, items %>
  </p>
  <% end %>
  </ul>

  <p><%= link_to "Add to Cart", "/item_orders/new" %></p>
=======
<h1>Show Items Here</h1> 

<% @items.each do |item| %>
<li><%= item.category %></li>
<% end%>  
>>>>>>> Stefanos
